@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Poetsen+One&display=swap');

body{
    background-color: rgb(8, 76, 139);
}

h1{
    font-family: "Lemon", serif;
}

/* Estilos página index */

#pg-index{
    min-height: 100vh;
    background-image: 
        linear-gradient(rgba(23, 94, 161, 0.80), rgba(23, 94, 161, 0.80)),
        url('/static/main/img/portada_main.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#pg-index h1{
    text-align: center;
    color: white;
    font-size: 2.8em;
}

#pg-index form{
    width: 90vw;
    max-width: 400px;
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}

#pg-index form .login-error{
    color: white;
    font-weight: bold;
    text-align: justify;
}

#pg-index form .button-panel{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#pg-index form .button-panel .link{
    color: white;
}

#pg-index form .button-panel .link:hover{
    color: black;
}

/* Estilos página home */

.widget-container{
    width: 90%;
    height: fit-content;
    background-color: white;
    border: 2px black solid;
    border-radius: 15px;
    padding: 5px 10px;
}

#pg-home{
    margin: 70px 0 0 ;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
}

#pg-home .user-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: black;
}

#pg-home .user-container h5 span{
    white-space: nowrap;
}

#pg-home .user-container a{
    font-size: xx-large;
    color: black;
    padding: 5px 10px;
}

#pg-home .orders-container{
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    gap: 10px;
}

#pg-home .orders-container form{
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}